*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #6495ED, #FFF8DC);
}

.calculator-grid {  /* to wrap all the buttons and elements */
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh; /* vh = viewport height */
    grid-template-columns: repeat(4, 100px); /* 4 columns & 100 px wide */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px); /* 5 rows and 100 px tall to create a square */
}

.calculator-grid > button { /* setting up button style */
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color:rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover { /* creating a hover effecto showcase which button arrow it on */
    background-color:rgba(255, 255, 255, .9);
}

.span-two { /* to make AC & = button double size */
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1; /* colum 1 to last one */
    background-color: rgba(105, 105, 105, .75);
    display: flex;
    align-items: flex-end; /* right side of container */
    justify-content: space-around;
    flex-direction: column; /* line up vertically */
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand { /* font style for previous operand */
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand { /* font style for current operand */
    color: white;
    font-size: 2.5rem;
}